.toggleSlide {
    margin: 20px 0px;
    border: 1px solid rgb(178, 202, 223);
    height: 25px;
    width: 80px;
    border-radius: 20px;
    background-color: #737373;
    position: relative;
    transition: all 400ms;
}
.CardTitle{
    color: var(--text-main, #E5E8DF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
.CardDescr {
    color: var(--text-secondary, #737373);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }