.App {
  text-align: center;
  background: url(./images/bg-image-1.svg) no-repeat 0% 0%, url(./images/bg-image-2.svg) no-repeat 100% 10%;
  /* background-repeat: no-repeat;
  background-position: 0% 0%; */
}


.appContainer{
    margin: 0 auto;
    max-width: 1496px;
    width: 100%;
}